include mixins
html
	include head
		title Campbell's Beach Volleyball
		script(src="js/home.js")

	body
		+navbar('home')

		div(class="container")
			h2 Announcements
			p Games for the first week were cancelled :(. We will officially start Thursday, June 1, 2017.
			hr
			h2 Upcoming Games
			form.form-inline
				.form-group
					label.inline-label(for="weekSelect") Current Week
					select.form-control#weekSelect
						option(value="1") June 1
						option(value="2") June 8
						option(value="3") June 15
						option(value="4") June 22
						option(value="5") June 29
						option(value="6") July 6
						option(value="7") July 13
			table.table.table-striped
				thead
					tr
						th Start Time
						th Home
						th Away
				tbody#matchTableBody