include mixins
html
	include head
		title Campbell's Beach Volleyball
		script(src="js/home.js")

	body
		+navbar('home')

		div(class="container")
			h2 Announcements
			p Games for the first week were cancelled :(. We will officially start Thursday, June 1, 2017.
			hr
			h2 Upcoming Games
			form.form-inline
				.form-group
					label.inline-label(for="weekSelect") Current Week
					select.form-control#weekSelect
						option(value="1") Week 1
						option(value="2") Week 2
			table.table.table-striped
				thead
					tr
						th Start Time
						th Home
						th Away
				tbody#matchTableBody