doctype html
include mixins
html
	include head
	title Rules
body
	+navbar('rules')

	.text-center
		h1 Rules
		p The following rules shall be followed and enforced with strict prejudice to all members of Beach League.
	.container
		h2 Teams
		p Teams will have 4 active players on the court during play. Teams must have a minimum of two males and two females on the roster and at least one male or female on the court during play. 
		p A team captain must be selected at your first game. The captain is responsible for starting the games on time as well as reporting scores. 
		h2 Games
		p During each time slot three games will be played. The first team to reach 21 points (while winning by at least two points) will be declared the winner. The results of the games will be recorded over the period of the season.
		h2 Schedule
		p There will be a period of two round-robin tournaments totalling 14 games in the season. Teams will then be ranked and a single-elimination tournament will be played during Playoffs. Games are played every Thursday night throughout the summer unless cancelled due to weather. There are four time slots for games:
		table.table
			thead
				tr
					th Start Time
					th End Time
			tbody
				tr
					td 18:00 (6:00 pm)
					td 18:45 (6:45 pm)
				tr
					td 18:45 (6:45 pm)
					td 19:30 (7:30 pm)
				tr
					td 19:30 (7:30 pm)
					td 20:15 (8:15 pm)
				tr
					td 20:15 (8:15 pm)
					td 21:00 (9:00 pm)
				tr.after-dinner
					td 21:00 (9:00 pm)
					td --
		p At 21:00 (9:00 pm) the After-Dinner League starts. If there are still people willing to play, we can continue to play for fun indefinitely. 
		.alert.alert-info(role="alert")
			p #[strong Note] It is very important to show up to your games on time to ensure we get through all the games that night.
		h2 Fees
		p Each player pays a fee of $30.00. This money goes towards improving the court (eg. adding sand, better lighting, volleyballs and scoreboard), prizes, dinner for the last game, and administrative fees to the Campbell’s. We may even expand the facilities and open up another court due to a high demand of players.
		h2 Perks
		ul
			li We will supply nice beach volleyballs that we can play and practice with through the year.						
			li We get to play with our friends on a regular basis.						
			li Enjoy a couple drinks before, after or during the game.						
			li We will award a trophy, beer/cider at the end of the year.						
			li Practice up for beach slam!		
			li The Social Committee is extremely encouraged. Feel free to bring out your fans to cheers us on!						
		h2 House Rules
		p We do our best to follow these rules during play. We try to make it fun and fair for everyone playing.
		ul
			li No blocking on a serve
			li No lifting the ball
			li No touching the net during play
			li Win by two
			li Be a good sport
			li Have a good attitude and shake everyone's hand at the end of a game (Dan)
			li At least one guy or girl playing at all times
			li Do your best to self referee and call yourself on a foul or an out.
			li Spin the ball or rock, paper, scissors to determine who serves first. Just to keep the games moving.