doctype html
include mixins
html
	include head
		script(src="js/stats.js")
		title Stats
body
	+navbar('stats')

	.text-center
		h1 Stats
		p Click on each row to bring up more details about the team.
	.container
		table.table.table-striped.table-hover#statsTable
			thead
				tr
					th Team
					th Wins
				tbody
					each team in teams
						tr(id="row-"+team._id, data-toggle="modal", data-target="#teamModal")
							td= team.name
							td(id="wins-"+team._id)= team.wins
	+genericModal('teamModal', 'Team Info')
		label Teammates
		ul.list-group#playerList
