body {
	padding-top: 50px;
}

.help-text {
	padding-top: 5px;
}

.inline-label {
	padding-right: 10px;
}

.after-dinner {
	background-color: darkslateblue;
  color: white;
}

#homeCarousel {
	max-height: 100%;
	overflow: hidden;
}

.carousel img.up {
	transform: translateY(-200px);
}

.carousel img.half-up {
	transform: translateY(-50%);
}

.carousel img.quarter-up {
	transform: translateY(-25%);
}

.carousel img {
	width: 100%;
}

/*
.carousel-inner {
	max-height: 450px;
}
*/

.carousel-inner .carousel-caption {
	position: absolute;
	top: 0;
}

@media (max-width: 1000px) {
	.carousel img.up {
		transform: translateY(0px);
	}
	.carousel img.half-up {
		transform: translateY(0px);
	}
	.carousel img.quarter-up {
		transform: translateY(0px);
	}
}